@import "../../styles/base/typography";
@import "../../styles/base/variables";
.wish__list {
  padding: 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 1280px;
  width: 100%;
  margin: 1.25rem auto;
  h2 {
    font-size: 1.5rem;
    color: $Very-dark-blue;
    margin-bottom: 1rem;
  }
  #{&}__products{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    width: 100%;
  }
}
@media screen and (max-width: 48rem) {
  .wish__list {
    #{&}__products{
      margin: 0 auto;
    }
  }
}
@media screen and (min-width: 48.0625rem) and (max-width: 61.9375rem) {
  .wish__list {
    #{&}__products{
      grid-template-columns: repeat(auto-fill, 270px);
      align-items: center;
      justify-content: center;
    }
  }
}
@media (min-width: 62rem) {
  .wish__list {
    #{&}__products{
      grid-template-columns: repeat(auto-fill, 270px);
    }
  }
}
